html, body {
margin: 0;
padding: 0;
overflow: hidden;
}

.page-header {
    background-color:#2B7DA2;
    margin-top:0;
    margin-bottom:0;
}
.main-side-container {
    padding:0px;
}
.main-map-container {
    padding:0px;
}
#mapDiv {
    left:0px;
    right:0px;
    width:100%;
    height:100%;
}
.headerText {
    color:white;
}
.links {
text-align:right;
}
.thumbnail {
    margin-bottom:0px;
    text-align:center;
    height:180px;
}
.thumbnail img {
    max-width: 80px;
    max-height: 80px;
    margin: 10px;
}
.thumbContainer {
    max-height:700px;
    overflow-y:scroll;
    overflow-x:hidden;
}

#SearchControl {
position: absolute;
z-index: 5;
padding-left: 80px;
padding-top: 10px;
}

#projectToggle {
    text-align: center;
}

 #status {
        background-color: #3071A9; 
        color: white; 
        padding: 5px; 
        border: solid 5px white;
        border-radius: 5px;
		font-weight: bold;
}

.mapButton {
    position: relative;
	left: 15px;
    z-index:5;
    width:50px;
    height:50px;
    background-color:white;
    border:1px solid #CCC;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
    text-align:center;
    top:10px;
    cursor:pointer;
    font-size:25px;  
}
.mapButton:hover {
    background-color:#EEE;
}
.mapButton span {
    vertical-align:middle;  
}
#splash {
    text-align:center;
}

#layerControlModal
{
    position: absolute;
    float:right;
    top:50px;

}
#basemapModal{
    float:right;
    top:50px;
}
.esriPopup.light .titleButton.close {
right:0px;
}
.esriPopup .contentPane {

    line-height: 2em;
}
.esriPopupMediaImage {
    max-width: 200px;
    max-height: 150px;
    border-style: none;
}