html, body {
margin: 0;
padding: 0;
overflow: hidden;
}
.page-header {
    background-color:#2B7DA2;
    margin-top:0;
    margin-bottom:0;
}
#mapDiv {
    left:0px;
    right:0px;
    width:100%;
    height:100%;
}
.headerText {
    color:white;
}
.links {
text-align:right;
}
#msLink {
    color: #C5D5D5;
    font-family: "open_sansregular",sans-serif;
    font-weight: normal !important;
    font-size: 13px;
    outline: medium none;
    text-decoration: none;
    vertical-align:bottom;
}
.thumbnail {
    margin-bottom:0px;
    text-align:center;
    height:180px;
}
.thumbnail img {
    max-width: 80px;
    max-height: 80px;
    margin: 10px;
}
.thumbContainer {
    max-height:700px;
    overflow-y:scroll;
    overflow-x:hidden;
}

.basemapBG {
    height:60px;
}
.basemapToggle{
	position: relative;
	left: 15px;
	top: 85px;
    width:60px;
	text-align: center;
	border: 1px solid #57585A;
	background-color: #FFF;
	color: #4C4C4C;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	z-index:5;
}
.homeButton {
    position: relative;
	left: 15px;
    z-index:5;
    width:32px;
    height:32px;
    background-color:white;
    border:1px solid #CCC;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
    text-align:center;
    top:85px;
}
.locateButton {
    position: relative;
	left: 15px;
    z-index:5;
    width:32px;
    height:32px;
    background-color:white;
    border:1px solid #CCC;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
    text-align:center;
    top:85px;
}
#splash {
    text-align:center;
}