<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle searchDropdown" data-toggle="dropdown" aria-expanded="false">
                        <span data-dojo-attach-point="searchTypeLabel">Address</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="searchType"><a href="#">Address</a></li>
                        <li class="searchType"><a href="#">Project</a></li>
                    </ul>
                </div><!-- /btn-group -->             
                <input data-dojo-attach-point="searchInput" type="text" class="form-control" aria-label="...">
                <div class="input-group-btn">
                    <button type="button" data-dojo-attach-point="searchButton" class="btn btn-primary" aria-expanded="false">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div><!-- /btn-group -->                
            </div><!-- /input-group -->
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
</div>